/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  position: relative;
  top: 3px;
  width: 150px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  border-radius: 4px;
  background-color: #3aa856;
}

.button, .button__icon ,.button__text {
  transition: all 0.3s;
}

.button .button__text {
  font-size: 14px;
  transform: translateX(15px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(102px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 20px;
  color: #ffff;
}

@media (max-width: 768px) {
  .button__icon_animation{
    animation: button 0.5s ease-in 0s 1 normal;
  }
  
  @keyframes button {
    0%,100%{
        transform: translateX(109px);
  
    }
    50%{
        width: 140px;
        transform: translateX(0px);
    }
  
}  
}


@media (min-width:768px) {
.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(-5px);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}  
}